
Descriptions/
Characters/
build/
dist/
draw.spec
data.txt
data.txt
*.txt
__pycache__/draw.cpython-310.pyc
__pycache__/dataEditor.cpython-310.pyc
data.txt
*.pyc
__pycache__/dataEditor.cpython-310.pyc
*.pyc
__pycache__/dataEditor.cpython-310.pyc
__pycache__/draw.cpython-310.pyc
data.txt
__pycache__/dataEditor.cpython-310.pyc
__pycache__/draw.cpython-310.pyc
build.bat
data.txt
flashcards.spec
.gitignore
data.txt
__pycache__/dataEditor.cpython-310.pyc
__pycache__/draw.cpython-310.pyc
WHY WONT THESE GIT IGNORED AAAAAAAAAAAAAAAAAAAAAAAAAAA