
Descriptions/
Characters/
build/
dist/
draw.spec
data.txt
data.txt
*.txt
__pycache__/draw.cpython-310.pyc
__pycache__/dataEditor.cpython-310.pyc
data.txt
*.pyc
__pycache__/dataEditor.cpython-310.pyc
*.pyc
__pycache__/dataEditor.cpython-310.pyc
__pycache__/draw.cpython-310.pyc
data.txt
